* {
    box-sizing: border-box;
}

/* Add a gray background color with some padding */
body {
    font-family: 'Times New Roman', Times, serif;
    
    background: #f1f1f1;
    position: relative;
    margin: 0;
}

.articles{
    padding: 20px;
}

/* Header/Blog Title */
.header {
    padding: 30px;
    font-size: 30px;
    text-align: center;
    background: white;
    height: 300px;
    color: #fff;
    padding-top: 90px;
    background: linear-gradient(162deg, #414141 0%, #414141 41%, #3d3d3d 41%);
}

.row{
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
    float: left;
    width: 70%;
}

/* Right column */
.rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
}

/* Fake image */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

/* Add a card effect for articles */
.card {
     background-color: white;
     padding: 20px;
     margin-top: 20px;
}
.card h2 {
    color: #A51E35;
}
.card h5, .card a{
    color: #0059b2;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    background:transparent;
    position:absolute;
    bottom:-30px;
    left: -10px;
}

.hide{
    display: none;
}

.article_container {
    padding: 20px;
    width: 400px;
    margin: 20px auto;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
        width: 100%;
        padding: 0;
    }
}